.liuyan_list {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #000;
}

/* 动画起点 */
.example-enter {
    opacity: 0;
    transition-duration: 500ms;
}
/* 动画终点 */
.example-enter-active {
    opacity: 1;
}
/* 动画离开起点 */
.example-leave {
    opacity: 1;
    transition-duration: 300ms;
}
/* 动画离开终点 */
.example-leave-active {
    opacity: 0;
}